.sub {
    margin-left: 20px;
    color: #a1b2cc;
}

.cbody {
    margin: 10px;
    flex-wrap: wrap;
    display: flex flex-col;
  }

.itemdiv {
    margin: 20px;
    height: 20%;
}

.cbody li {
    margin-left: 8px;
}